
# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /

RewriteRule ^css/(.*) /wp-content/themes/twentyseventeen/assets/assets_theme/css/$1 [QSA,L]
RewriteRule ^img/(.*) /wp-content/themes/twentyseventeen/assets/assets_theme/img/$1 [QSA,L]
RewriteRule ^js/(.*) /wp-content/themes/twentyseventeen/assets/assets_theme/js/$1 [QSA,L]
RewriteRule ^plugins/(.*) /wp-content/themes/twentyseventeen/assets/assets_theme/plugins/$1 [QSA,L]

RewriteRule ^/index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
</IfModule>

# END WordPress
